* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.booklist {
  width: 90vw;
  /* min-width: 100px; */
  /* min-height: 100px; */
  display: grid;
  gap: 1rem;
  max-width: 1170px;
  margin: 1.5rem;
  /* border: 5px solid green; */
}
img {
  width: 250px;
  height: 250px;
}
.book {
  background-color: rgb(233, 235, 235);
  /* border: 2px solid goldenrod; */
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(4, 1fr);
  }
}
